*{
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}



body{
    background-image: url('https://i.ibb.co/VDf08GC/redim.webp');
    background-size: cover;
        min-height: 100vh;
    background-attachment: fixed;
     
}
main{
        background-color: rgba(0, 0, 0, 0.534);
        background-size: cover;
        min-height: 100vh;
}

.item{
        width: 19rem;
}
.prod-title {
   font-size: 1.5rem;
   
}

.prod-desc{
        font-size: 1rem;
} 

.prod-price{
        font-size: 1.3rem
}

.title{
        font-family: 'Luckiest Guy', cursive;
        font-size: 3rem;
        color: rgb(226, 218, 218)!important;
}

.sub-title{
        font-family: 'Ultra', serif;
        font-size: 1.5rem;
}
img{
        width: 30%;
}
.logo{
        width: 60%;
}

/* dropdown */
.dropdown {
        position: fixed;
        right: 1rem;
        bottom: 1rem;
        width: 7rem;
        filter: url(#goo);
        
      }
.dropdown__face, .dropdown__items {
        background-color: rgba(255, 255, 255, 0.801);
        padding: 20px;
        border-radius: 25px;
}
.dropdown__face {
        display: block;
        position: relative;
}
.dropdown__items {
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 50%;
        width: 100%;
        list-style: none;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        visibility: hidden;
        z-index: -1;
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__items::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.733);
        position: absolute;
        top: 100%;
        right: 20%;
        height: 2rem;
        width: 1rem;
}
.dropdown__arrow {
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        position: absolute;
        top: 35%;
        right: 30px;
        width: 0.75rem;
        height: 0.75rem;
        transform: rotate(225deg) translateY(-50%);
        transform-origin: right;
}
.dropdown input {
        display: none;
}
.dropdown input:checked ~ .dropdown__items {
        bottom: calc(100% + 25px);
        visibility: visible;
        opacity: 1;
}
.dropdown-container {
        font-family: "Lato", Arial, sans-serif;
        box-sizing: border-box;
}
.dropdown-svg {
        display: none;
}
      
/* dropdown */

/*Index buttons */
#gooey-button {
        padding: 3rem;
        border: none;
        border-radius: 100%;
        color: #0c1016;
        filter: url("#gooey");
        position: relative;
        background: rgb(56,205,72);
        background: radial-gradient(circle, rgba(56,205,72,1) 0%, rgba(248,255,39,1) 100%);
        width: 40%;
        margin: 0;
}
        
        #gooey-button:focus {
          outline: none; }
        #gooey-button .bubbles {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0; }
          #gooey-button .bubbles .bubble {
        background: rgb(56,205,72);
        background: radial-gradient(circle, rgba(56,205,72,1) 0%, rgba(148,229,56,1) 0%, rgba(248,255,39,1) 100%);
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1; }
            #gooey-button .bubbles .bubble:nth-child(1) {
              left: 84px;
              width: 25px;
              height: 25px;
              animation: move-1 3.02s infinite;
              animation-delay: 0.2s; }
            #gooey-button .bubbles .bubble:nth-child(2) {
              left: 75px;
              width: 25px;
              height: 25px;
              animation: move-2 3.04s infinite;
              animation-delay: 0.4s; }
            #gooey-button .bubbles .bubble:nth-child(3) {
              left: 92px;
              width: 25px;
              height: 25px;
              animation: move-3 3.06s infinite;
              animation-delay: 0.6s; }
            #gooey-button .bubbles .bubble:nth-child(4) {
              left: 57px;
              width: 25px;
              height: 25px;
              animation: move-4 3.08s infinite;
              animation-delay: 0.8s; }
            #gooey-button .bubbles .bubble:nth-child(5) {
              left: 22px;
              width: 25px;
              height: 25px;
              animation: move-5 3.1s infinite;
              animation-delay: 1s; }
            #gooey-button .bubbles .bubble:nth-child(6) {
              left: 74px;
              width: 25px;
              height: 25px;
              animation: move-6 3.12s infinite;
              animation-delay: 1.2s; }
            #gooey-button .bubbles .bubble:nth-child(7) {
              left: 38px;
              width: 25px;
              height: 25px;
              animation: move-7 3.14s infinite;
              animation-delay: 1.4s; }
            #gooey-button .bubbles .bubble:nth-child(8) {
              left: 47px;
              width: 25px;
              height: 25px;
              animation: move-8 3.16s infinite;
              animation-delay: 1.6s; }
            #gooey-button .bubbles .bubble:nth-child(9) {
              left: 39px;
              width: 25px;
              height: 25px;
              animation: move-9 3.18s infinite;
              animation-delay: 1.8s; }
            #gooey-button .bubbles .bubble:nth-child(10) {
              left: 66px;
              width: 25px;
              height: 25px;
              animation: move-10 3.2s infinite;
              animation-delay: 2s; }
      
      @keyframes move-1 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -117px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-2 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -69px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-3 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -72px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-4 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -130px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-5 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -85px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-6 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -88px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-7 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -75px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-8 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -100px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-9 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -68px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
      
      @keyframes move-10 {
        0% {
          transform: translate(0, 0); }
        99% {
          transform: translate(0, -117px); }
        100% {
          transform: translate(0, 0);
          opacity: 0; } }
/*Index buttons */

.index-logo{
        width: 80%;
}

.sites-container{
        margin-top: 5rem;
}

.index-main{
        background-color: rgb(0 0 0 / 96%);
        background-size: cover;
        min-height: 100vh;
}

.index-img{
        width: 100%;
        margin: 0;
}

@media screen and (max-width: 1000px){
        #gooey-button {
                width: 70%;
        }
}

@media screen and (max-width: 700px){
        #gooey-button {
                width: 70%;
        }
}


@media screen and (max-width: 610px){
        img{
                width: 40%;
        }
        .logo{
                width: 80%;
        }
        body{
                background-image: url('https://i.ibb.co/RcH66YV/redim-2.webp');
        }
        #gooey-button {
                width: 90%;
                padding: 2rem;
        }
        .index-logo{
                width: 50%;
        }

}

@media screen and (max-width: 480px){
        #gooey-button {
                width: 100%;
                padding: 1.9rem;
        }
}

@media screen and (max-width: 350px) {
        .item{
                width: 18rem;
        }
        .prod-title {
           font-size: 1.3rem
        }
        
        .prod-desc{
                font-size: 1rem;
        } 
        
        .prod-price{
                font-size: 1.2rem
        }
        
        .title{
                font-family: 'Luckiest Guy', cursive;
                font-size: 2.5rem;
        }
        
        .sub-title{
                font-family: 'Ultra', serif;
                font-size: 1.5rem;
        }
        img{
                width: 50%;
        }
        .logo{
                width: 100%
        }
        #gooey-button{
                padding: 1.3rem;
        }
        .index-logo{
                width: 50%;
        }
    
}



